
body{
  background-color: hsla(0, 0%, 50%, 0.11);
}

.to-do-list{
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 100px;
}
h1{
  font-size: 4rem;
}
button{
  font-size: 1.7rem;
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}
button:hover{

}
.add-button{
  background-color: hsl(128, 65%, 62%);
}
.add-button:hover{
  background-color: hsl(128, 65%, 40%);
  
}
.delete-button{
  background-color: hsl(348, 75%, 65%);
}
.delete-button:hover{
  background-color: hsl(348, 58%, 40%);
}
.move-button{
  background-color: hsl(36, 71%, 58%);
}
.move-button:hover{
  background-color: hsl(36, 71%, 40%);
}

input[type='text']{
  font-size: 1.6rem;
  padding: 10px;
  border: 2px solid hsl(240, 60%, 48%);
  border-radius: 5px;
  color: hsla(0, 0%, 0%, 0.65);
}
ol{
  padding: 0;
}
li{
  font-size: 2rem;
  font-weight: bold;
  padding: 15px;
  list-style-type: none;
  background-color: hsla(0, 0%, 0%, 0.11);
  margin: 10px;
  border: 3px solid hsla(0, 0%, 0%, 0.123);
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.text{
  flex: 1;
}
.delete-button, .move-button{
  padding: 8px 12px;
  font-size: 1.4rem;
  margin-left: 20px;
}
.add-button{
  margin: 10px;
  font-size: 1.8rem;
}