.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container button{
  color: white;
  font-weight: bold;
  font-size: 2rem;
  padding: 20px;
  margin: 5px;
  background-color: rgb(58, 165, 165);
  border-radius: 15px;
  border: none;
  cursor: pointer;
}
.container p{
  font-size: 22rem;
  margin-bottom: 10px;
  color: rgb(67, 206, 12);
  margin-top: 0;
}
.container button:hover{
  background-color: rgb(148, 224, 224);
}