body{
  background-image: url('assets/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;

  /*OPTIONAL-align horizontally and vertically on the screen*/

  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
}
.clock-container{
  -webkit-backdrop-filter: blur(2px); /*for Safari users*/
  backdrop-filter: blur(2px);
  width: 100vw;
  padding: 10px 0;
}
.clock{
  color: cyan;
  font-size: 6rem;
  font-weight: bold;
  font-family: monospace;
  text-align: center;
  text-shadow: 3px 3px 5px hsla(0, 0%, 0%, 0.651);
}
